---
interface Props {
  label: string
  light?: boolean
  href?: string
  className?: string
  dense?: boolean
}

const { label, light, href, className, dense } = Astro.props

const colorClasses = {
  light: 'text-white border-primary hover:text-brand-300',
  dark: 'btn text-brand-500 border-brand-400 hover:text-brand-50',
} as const
const denseClasses = {
  dense: 'text-base',
  default: 'text-lg',
}

const resolvedColorClass = light ? colorClasses.light : colorClasses.dark
const resolvedDenseClass = dense ? denseClasses.dense : denseClasses.default
---

<a
  {href}
  class={`${className} border-2 uppercase hover:scale-[1.01] transition-[scale,color,border] ease-linear duration-150 cursor-pointer px-10 py-2 ${resolvedColorClass} ${resolvedDenseClass}`}
>
  <span>
    {label}
  </span>
</a>
